html, body {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: '微软雅黑';
    min-height: 100%;
    min-width: 1180px;
    position: relative;
    overflow: hidden;
}

body > .k-splitbar {
    display: none;
}

#g-top {
    height: 60px;
}

#main {
    padding: 10px;
}


/*
.g-menu-wrap {
    width: 60px;
}

.g-tool-close {
    position: absolute;
    margin-top: -10px;
    border-radius: 8px;
    padding: 0 !important;
}

.p-block {
    width: 150px;
}*/

/*
.k-tabstrip-wrapper > .k-header {
    background-color: transparent;
    border: none;
}

.g-fieldset {
    border: none;
    border-top: 1px solid #999ea9;
    margin-bottom: 10px;
    border-radius: 8px;
}

.g-fieldset legend {
    font-size: 16px;
    margin: 0 5px;
    padding: 0 5px;
}
*/