html, body {
    margin: 0;
    padding: 0;
}

html {
    font: 80% '微软雅黑';
    background: #fff url("flowers-right.png") no-repeat fixed 100% -174px;
    height: 100%;
    line-height: 1.5;
}

body {
    background: url("flowers-left.png") no-repeat fixed 0 400px transparent;
    min-height: 100%;
}

#page {
    margin: 0;
    padding: 0 7%;
    width: 86%;
}